.footer{
    height: 50px;
    width: 100%;
    background-color: rgb(46, 44, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    font-size: 14px !important;
    & a{
        color: lightgray;
        text-decoration: underline;
        text-decoration-color:rgba($color: lightgray, $alpha: 0.0);
        transition: .3s;
        font-weight: bold !important;
        &:hover{
            text-decoration-color:rgba($color: lightgray, $alpha: 1.0);
        }
    }
}