.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #1d2430;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
    &__logo{
        font-weight: bold !important;
        font-size: 24px !important;
        text-transform: uppercase;
        cursor: context-menu;
        user-select: none;
    }
    &__separator{
        height: 30px;
        width: 1px;
        background-color: gray;
        margin: 10px 30px;
        cursor: context-menu;
    }
    &__menu{
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &--item{
            color: rgb(158, 158, 158);
            margin-right: 40px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                color: #fff;
            }
        }
    }
    &__scroller{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        opacity: 0.6;
        cursor: pointer;
        user-select: none;
        & b{
            margin-right: 10px;
        }
        &:hover{
            opacity: 1;
        }
    }
}