.skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__container{
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        & p{
            width: 60%;
            text-align: center;
            margin-bottom: 40px;
        }
        
    }
    &__logo{
        & svg{
            fill: gray;
            margin-bottom: 15px;
            font-size: 64px !important;
        }
    }
    &__gallery{
        display: grid;
        width: 80%;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        user-select: none;
        &--item{
            border-radius: 10px;
            background-color: #1d2430;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &--logo{
            margin: 15px;
            & svg{
                font-size: 28px !important;
                & polygon:first-child{
                    fill: #178f7a;
                }
                & polygon:last-child{
                    fill: #ffffff;
                }
            }
        }
        &--title{
            font-weight: bold !important;
            letter-spacing: 0.5px !important;
            font-size: 16px !important;
        }
    }
}